mixin bg-finish({ isHide, className })
  .bg(hidden=isHide class=className)
    .bg__line.finish-1
    .bg__line.finish-2
    .bg__line.finish-3
    .bg__line.finish-4
    .bg__line.finish-5
    .bg__line.finish-6
