mixin bg-fourth({ isHide, className })
  .bg(hidden=isHide class=className)
    .bg__line.fourth-1
    .bg__line.fourth-2
    .bg__line.fourth-3
    .bg__line.fourth-4
    .bg__line.fourth-5
    .bg__line.fourth-6
