mixin bg-second({ isHide, className })
  .bg(hidden=isHide class=className)
    .bg__line.second-1
    .bg__line.second-2
    .bg__line.second-3
    .bg__line.second-4
    .bg__line.second-5
    .bg__line.second-6
