mixin bg-third({ isHide, className })
  .bg(hidden=isHide class=className)
    .bg__line.third-1
    .bg__line.third-2
    .bg__line.third-3
    .bg__line.third-4
    .bg__line.third-5
    .bg__line.third-6

