mixin b-design({ className })
  .b-design(class=className)
    .b-design__title Твой дизайн
    .b-design__text Отличный результат! #[br] Обязательно проверь, все ли правильно: после этого шага изменить дизайн будет нельзя. А&nbsp;если тебе нужно внести изменения, вернись на нужный шаг с помощью кнопки «НАЗАД».
    .b-design__field
      .b-design__stick
        +picture({ image: "/img/stick.png", width: 1520, height: 375 })

