include /components/button/btn
include /components/background/bg-finish
include /components/block/b-design

mixin b-finish({ isHide, className })
  .b-set(hidden=isHide class=className)
    - let onclick = "this.classList.toggle('actv')"
    +bg-finish({})
    .b-set__content
      +b-design({})

      +btn({
        text: "Назад",
        color: "black",
        className: "b-set__btn-prev"
      })
      +btn({
        text: "Сохранить дизайн",
        className: "b-set__btn-next finish"
      })
