include /components/button/btn-default
include /components/block/b-spec
include /components/background/bg-fifth

mixin b-fifth({ isHide, className })
  .b-first(hidden=isHide class=className)
    +bg-fifth({})
    .b-first__content
      .b-first__left
        .b-first__step 5
        .b-first__wrp.fifth
          .b-first__title Технические характеристики
          .b-first__text Последний шаг — настраиваем клюшку под&nbsp;твои предпочтения и стиль игры!
      .b-first__spec
        +b-spec({})

      +btn-default({
        text: "Назад",
        color: "black",
        className: "b-first__btn-prev fifth"
      })
      +btn-default({
        text: "Далее",
        className: "b-first__btn-next"
      })
