mixin b-name({ className })
  .b-name(class=className)
    label.b-name__label(for="name") Введи свое имя или прозвище:
    input.b-name__field(type="text" id="name" placeholder="Alex ovechkin")
    .b-name__subfield Используй латиницу, цифры и спецсимволы. #[br] Не более 20 символов
