mixin b-result({ isDemo, isHide, className })
  .b-result.finish.js-set-result(hidden=isHide class=className)
    .b-result__title.js-set-result-title Твой дизайн
    .b-result__text.js-set-result-text Отличный результат! #[br] Обязательно проверь, все ли правильно: после этого шага изменить дизайн будет нельзя. А&nbsp;если тебе нужно внести изменения, вернись на нужный шаг с помощью кнопки «НАЗАД».
    .b-result__field.js-set-result-field
      if isDemo
        .b-result__demo
          +picture({ image: "/img/stick.png", width: 1520, height: 375 })
      else
        .b-result__result
          img.b-result__stick.js-set-result-stick(src="./img/sticks/stick-empty-red.webp")
          img.b-result__pattern.js-set-result-pattern(src="./img/sticks/pattern-black-4.webp" hidden)
          img.b-result__blade.js-set-result-blade(src="./img/sticks/blade-red-normal.webp")
        .b-result__name.js-set-result-name
