mixin b-result-end({ isHide, className })
 .b-set.js-result-end(hidden=isHide class=className)
    +bg-finish({ isHide: false })
    .b-set__content
      .b-result.finish.js-result-end-container(class=className)
        .b-result__title Твой дизайн
        .b-result__text Отличный результат! Совсем скоро мы подведем итоги и объявим победителей, которые выиграют Верную подругу Великой погони! Жди результатов #{endData}.
        .b-result__field.js-set-result-field
          .b-result__result
            img.b-result__stick.js-set-result-stick(src="./img/sticks/stick-empty-red.webp")
            img.b-result__pattern.js-set-result-pattern(src="./img/sticks/pattern-black-4.webp" hidden)
            img.b-result__blade.js-set-result-blade(src="./img/sticks/blade-red-normal.webp")
          .b-result__name.js-set-result-name
      +btn({
        text: "Вернуться к погоне",
        href: "https://fon.bet/promo/thegr8chase/",
        className: "b-set__btn-return"
      })
