include /components/background/bg-first
include /components/background/bg-second
include /components/background/bg-third
include /components/background/bg-fourth
include /components/background/bg-fifth
include /components/background/bg-finish

include /components/block/b-start
include /components/block/b-name
include /components/block/b-spec
include /components/block/b-design

include /components/window/window-first
include /components/window/window-second
include /components/window/window-third
include /components/window/window-fourth

mixin b-set({ isHide, className })
 .b-set.js-set(hidden=isHide class=className)
    +bg-first({ isHide: false, className: "js-bg first" })
    +bg-second({ isHide: true, className: "js-bg second" })
    +bg-third({ isHide: true, className: "js-bg third" })
    +bg-fourth({ isHide: true, className: "js-bg fourth" })
    +bg-fifth({ isHide: true, className: "js-bg fifth" })
    +bg-finish({ isHide: true, className: "js-bg finish" })

    .b-set__content.js-set-content
      .b-set__left.first.js-set-left
        .b-set__step.js-set-step 1
        .b-set__wrp.js-set-wrp.first
          .b-set__title.js-set-title Цвет

          .js-set-visibility.first
            .b-set__color.red.js-widow-color-stick-name красный
            .b-set__text Выбери основной цвет клюшки для кастомизации. #[br] #[br] Если ты потом захочешь его поменять, воспользуйся кнопкой «Назад» на следующих экранах.

          .js-set-visibility.second(hidden)
            .b-set__text Создай свой дизайн для шафта клюшки — или воспользуйся одним из готовых вариантов.

          .js-set-visibility.third(hidden)
            .b-set__color.red.js-widow-blade-texture Обычное

          .js-set-visibility.fourth(hidden)
            +b-name({ className: "b-set__name" })

          .js-set-visibility.fifth(hidden)
            .b-set__text Последний шаг — настраиваем клюшку под&nbsp;твои предпочтения и стиль игры!

      .b-set__spec.js-set-visibility.fifth(hidden)
        +b-spec({})

      +window-first({ isHide: false, className: "b-set__window js-set-visibility" })
      +window-second({ isHide: true, className: "b-set__window js-set-visibility" })
      +window-third({ isHide: true, className: "b-set__window js-set-visibility" })
      +window-fourth({ isHide: true, className: "b-set__window js-set-visibility" })

      +b-design({ isHide: true, className: "js-set-visibility" })

      +btn({
        text: "Назад",
        color: "black",
        isHide: true,
        className: "b-set__btn-prev js-set-btn-prev"
      })
      +btn({
        text: "Далее",
        className: "b-set__btn-next js-set-btn-next"
      })
      +btn({
        text: "Сохранить дизайн",
        className: "b-set__btn-save js-set-btn-save"
      })
