include /components/button/btn-default
include /components/background/bg-third
include /components/block/b-window

mixin b-third({ isHide, className })
  .b-first(hidden=isHide class=className)
    +bg-third({})
    .b-first__content
      .b-first__left
        .b-first__step 3
        .b-first__wrp
          .b-first__title Покрытие крюка
          .b-first__color.red Глянцевое
      +b-window({ step: 3, className: "b-first__window" })
      +btn-default({
        text: "Назад",
        color: "black",
        className: "b-first__btn-prev"
      })
      +btn-default({
        text: "Далее",
        className: "b-first__btn-next"
      })
