mixin b-window-pag-1({})
  .b-window__pag.color
    .b-window__pag-list
      button.b-window__pag-color.red
      button.b-window__pag-color.white
      button.b-window__pag-color.black
      button.b-window__pag-color.carbon
    .b-window__pag-name Цвет

mixin b-window-pag-2({})
  .b-window__pag
    .b-window__pag-list
      button.b-window__pag-btn.actv
      button.b-window__pag-btn
      button.b-window__pag-btn
      button.b-window__pag-btn
      button.b-window__pag-btn
      button.b-window__pag-btn
      button.b-window__pag-btn.clear
    .b-window__pag-name Текстура шафта

mixin b-window-pag-3({})
  .b-window__pag
    .b-window__pag-list
      button.b-window__pag-btn.actv
      button.b-window__pag-btn
      button.b-window__pag-btn
      button.b-window__pag-btn
    .b-window__pag-name Покрытие крюка 1/4

mixin b-window-shaft({})
  .b-window__shaft
    button.b-window__color-btn.reflective
    button.b-window__color-btn.chrome
    button.b-window__color-btn.black
    button.b-window__color-btn.white
    button.b-window__color-btn.red

mixin b-window-blade({})
  .b-window__blade
    button.b-window__color-btn.black
    button.b-window__color-btn.white
    button.b-window__color-btn.red
    button.b-window__color-btn.carbon

mixin b-window({ step, isHide, className })
  .b-window(hidden=isHide, class=className)
    if step === 2
      +b-window-shaft({})
    if step === 3
      +b-window-blade({})
    .b-window__field
      if step === 1
        img.b-window__img.first(src="./img/demo-step-1.png")
      if step === 2
        img.b-window__img.second(src="./img/demo-step-2.png")
      if step === 3
        img.b-window__img.third(src="./img/demo-step-3.png")
      if step === 4
        img.b-window__img.fourth(src="./img/demo-step-4.png")
    .b-window__control
      if step === 1
        +b-window-pag-1({})
      if step === 2
        +b-window-pag-2({})
      if step === 3
        +b-window-pag-3({})

    button.b-window__nav.prev
      +svg({ name: 'nav-arrow-prev', width: 65, height: 88 })
    button.b-window__nav.next
      +svg({ name: 'nav-arrow-next', width: 65, height: 88 })
