.m-white {
  position: relative;
  flex-shrink: 0;
  width: $apx-978;
  margin: auto;
  padding: $apx-124 $apx-60 $apx-80 $apx-60;
  font-family: $font-default;
  font-size: $apx-23;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  background-color: $color-white;
  border: $apx-15 solid $color-black;
  border-radius: $apx-41;
  opacity: 0;
  animation-name: modal-show;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.15s;
  animation-fill-mode: forwards;
  translate: 0 5%;
  scale: 0.95;
  &.share {
    .m-white__title {
      line-height: 0.95;
    }
    .m-white__text {
      margin-top: $apx-46;
    }
    .m-white__btn {
      min-width: $apx-332;
      margin-top: $apx-30;
    }
  }
  @include mobile {
    width: $apx-m-818;
    padding: $apx-m-76 $apx-m-20 $apx-m-80 $apx-m-20;
    font-size: $apx-m-30;
    line-height: 1.2;
    border-width: $apx-m-15;
    border-radius: $apx-m-41;
    &.share {
      padding-top: $apx-m-118;
      padding-bottom: $apx-m-72;
      .m-white__title {
        line-height: 0.95;
      }
      .m-white__text {
        width: $apx-m-540;
        margin-top: $apx-m-22;
        margin-right: auto;
        margin-left: auto;
      }
      .m-white__btn {
        min-width: $apx-m-332;
        margin-top: $apx-m-40;
      }
    }
  }
}
.m-white__close {
  @include transition(scale, box-shadow, rotate);
  position: absolute;
  top: $apx-15;
  right: $apx-15;
  display: block;
  width: $apx-50;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  background-color: $color-black;
  border: 0;
  border-radius: 50%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: block;
    width: $apx-34;
    height: $apx-3;
    background-color: $color-white;
  }
  &::before {
    rotate: 45deg;
  }
  &::after {
    rotate: -45deg;
  }
  &:hover,
  &:focus-visible {
    rotate: 90deg;
    scale: 1.04;
    box-shadow: 0 0 var(--box-shadow-blur) 0 transparentize($color-black, 0.8);
  }
  @include mobile {
    top: $apx-m-15;
    right: $apx-m-15;
    width: $apx-m-50;
    &::before,
    &::after {
      width: $apx-m-34;
      height: $apx-m-3;
    }
  }
}
.m-white__title {
  font-family: $font-title;
  font-size: $apx-111;
  line-height: 0.82;
  span {
    color: $color-carmine-red;
  }
  @include mobile {
    font-size: $apx-m-111;
    line-height: 0.82;
  }
}
.m-white__text {
  margin-top: $apx-36;
  &.mobile {
    display: none;
  }
  @include mobile {
    margin-top: $apx-m-20;
    &.desktop {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }
}
.m-white__btn {
  min-width: $apx-410;
  margin-top: $apx-33;
  margin-right: auto;
  margin-left: auto;
  padding: $apx-26 $apx-40 $apx-22 $apx-40;
  @include mobile {
    min-width: $apx-m-410;
    margin-top: $apx-m-66;
    padding: $apx-m-25 $apx-m-40 $apx-m-22 $apx-m-40;
  }
}
.m-white__link {
  @include transition(background-color, color);
  display: block;
  width: max-content;
  margin: 0;
  margin-top: $apx-23;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  font-family: $font-default;
  font-size: $apx-23;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  color: $color-gray-259;
  text-transform: uppercase;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  @include mobile {
    margin-top: $apx-m-23;
    font-size: $apx-m-30;
    line-height: 1.2;
  }
}
