include /elements/head
include /elements/images

- let title = ""
- let endData = "14.12.2024"
- let startCount = "10"
- let imgShare = "https://fon.bet/promo/thegr8chase/best_friend/img/og-image.jpg"
- let linkGreat8Fonbet = "https://fon.bet/promo/thegr8chase/"
- let linkShare = `https://vk.com/share.php?url=https://fon.bet/promo/thegr8chase/best_friend`
- let linkLogin = "https://fon.bet/authProcess/login"

block data

doctype html
html(lang="ru")
  +head({ title })
  block libjs
  body
    block content
    block modal
    include /elements/script
