include /elements/head
include /elements/images

- let title = ""
- let startData = "<ДАТА>"
- let endData = "// ДАТА //"
- let startCount = "<КОЛИЧЕСТВО>"

block data

doctype html
html(lang="ru")
  +head({ title })
  body
    block content
    block modal
    include /elements/script
