include /elements/head
include /elements/images

- let title = ""
- let endData = "14.12.2024"
- let linkGreat8Fonbet = "https://fon.bet/promo/thegr8chase/"
- let startCount = "несколько"

block data

doctype html
html(lang="ru")
  +head({ title })
  block libjs
  body
    block content
    block modal
    include /elements/script
