mixin open-graph({})
  meta(property='og:title' content='Fonbet X Great 8: Верная подруга')
  meta(property='og:description' content='Создай дизайн клюшки, с которой Ови должен побить рекорд!')
  meta(property='og:image' content=imgShare)
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://fon.bet/promo/thegr8chase/best_friend')
  meta(property='og:locale' content='ru_RU')
