mixin open-graph({})
  meta(property='og:title' content='Fonbet X Great 8: Верная подруга')
  meta(property='og:description' content='С какой клюшкой Овечкин должен поставить великий рекорд? Cоздай свой дизайн — и прими участие в розыгрыше своей верной подруги!')
  meta(property='og:image' content='https://fon.bet/promo/thegr8chase/best_friend/img/og-image.jpg')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://fon.bet/promo/thegr8chase/best_friend')
  meta(property='og:locale' content='ru_RU')
