include /components/button/btn

mixin m-bet({ isShow, className })
  .overlay.js-bet(class=isShow && "show")
    .m-white(class=className)
      .m-white__title Выиграй #[br] #[span клюшку!]
      .m-white__text.desktop Сделай ставку на хоккей от 500 рублей, поделись своим дизайном в соцсетях — и получи шанс выиграть свою кастомизированную клюшку! #[br] Мы подведем итоги розыгрыша #{endData}!
      .m-white__text.mobile СДЕЛАЙ СТАВКУ на хоккей от 500 рублей и&nbsp;получи шанс&nbsp;выиграть свою кастомизированную клюшкУ! #[br] Мы подведем итоги розыгрыша #{endData}!
      +btn({
        text: "Сделать ставку",
        href: "https://fon.bet/sports/hockey/114545",
        className: "m-white__btn js-bet-btn"
      })
