include /components/button/btn

mixin m-share({ isShow, className })
  .overlay.js-modal-share(class=isShow && "show")
    .m-white.share(class=className)
      .m-white__title.desktop #[span Поделись своим] #[br] дизайном
      .m-white__title.mobile #[span Поделись] #[br] своим дизайном
      .m-white__text Покажи друзьям, что&nbsp;у&nbsp;тебя&nbsp;получилось!
      +btn({
        text: "Поделиться",
        href: linkShare,
        className: "m-white__btn js-modal-share-btn-share"
      })
      a(href=linkGreat8Fonbet target="_blank").m-white__link.js-modal-share-btn-site Вернуться в Великую Погоню

