extends /elements/layout-page

include /components/block/b-start
include /components/block/b-set

block data
  - title = "Template"

block content
  +b-start({ isHide: false })
  +b-set({ isHide: true })
