extends /elements/layout-page
include /components/button/btn
include /components/background/bg-finish
include /components/block/b-result

block data
  - title = "Template"

block content
  .b-set(hidden=isHide class=className)
    +bg-finish({})
    .b-set__content
      +b-result({})

      +btn({
        text: "Назад",
        color: "black",
        className: "b-set__btn-prev"
      })
      +btn({
        text: "Сохранить дизайн",
        className: "b-set__btn-next finish"
      })
