extends /elements/layout-page

include /components/block/b-loading
include /components/block/b-start
include /components/block/b-set
include /components/block/b-result-end

include /components/modal/m-auth
include /components/modal/m-bet
include /components/modal/m-score
include /components/modal/m-share
include /components/modal/m-step


block data
  - title = "Fonbet X Great 8: Верная подруга"

block libjs
  +m-auth-script({})

block content
  +b-loading({ isHide: false })
  +b-start({ isHide: true })
  +b-set({ isHide: true })
  +b-result-end({ isHide: true })

block modal
  +m-auth({ isShow: false })
  +m-bet({ isShow: false })
  +m-score({ isShow: false })
  +m-share({ isShow: false })
  +m-step({ isShow: false })
