extends /elements/layout-page
include /components/button/btn
include /components/background/bg-second
include /components/block/b-window

block data
  - title = "Template"

block content
  .b-set(hidden=isHide class=className)
    +bg-second({})
    .b-set__content
      .b-set__left
        .b-set__step 2
        .b-set__wrp
          .b-set__title Шафт
          .b-set__text Выбери вариант дизайна для шафта клюшки.
      +b-window({ step: 2, className: "b-set__window" })
      +btn({
        text: "Назад",
        color: "black",
        className: "b-set__btn-prev"
      })
      +btn({
        text: "Далее",
        className: "b-set__btn-next"
      })
