mixin window-fourth({ isHide, className })
  .b-window.fourth.js-widow(hidden=isHide class=className)
    .b-window__field
      .b-window__name.js-window-name-label Alex Ovechkin
      img.b-window__img.js-widow-img(src="/img/sticks/end-red.webp")
