$color-gray-961: #f5f5f5; // hsl(0, 0%, 96.1%)
$color-gray-769: #c4c4c4; // hsl(0, 0%, 76.9%)
$color-gray-698: #b2b2b2; // hsl(0, 0%, 69.8%)
$color-gray-667: #aaaaaa; // hsl(0, 0%, 66.7%)
$color-gray-655: #a7a7a7; // hsl(0, 0%, 65.5%)
$color-gray-522: #858585; // hsl(0, 0%, 52.2%)
$color-gray-259: #424242; // hsl(0, 0%, 25.9%)

$color-white: #ffffff;
$color-black: #000000;

$color-green-blue: #222b36;
$color-carmine-red: #e80024;
$color-indian-red: #cc5b5a;
$color-dark-telegray: #8e8f90;

$gradient-red: linear-gradient(
  104.38deg,
  $color-carmine-red 48.55%,
  $color-green-blue 100.64%
);
$gradient-chrome: linear-gradient(
  136.58deg,
  #b5b5b5 2.62%,
  #6e6e6e 51.31%,
  #dddddd 100%
);
$gradient-reflective: linear-gradient(
  139.38deg,
  #c6c6c6 10.32%,
  #a4bcca 52.45%,
  #ffffff 92.94%
);
