@font-face {
  font-family: "CeraPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/cera-pro-regular.woff2") format("woff2");
}

@font-face {
  font-family: "CeraPro";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/cera-pro-medium.woff2") format("woff2");
}

@font-face {
  font-family: "CeraPro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/cera-pro-bold.woff2") format("woff2");
}

@font-face {
  font-family: "CeraPro";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("./fonts/cera-pro-bold-italic.woff2") format("woff2");
}

@font-face {
  font-family: "DIN Condensed";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/din-condensed-bold.woff2") format("woff2");
}
