// fonts
$font-default: "CeraPro", sans-serif;
$font-title: "DIN Condensed", sans-serif;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// container
// $container-max: 1140px;
$container-min: 375px;

// breakpoints
$ultra-wide-height: 950px;
$mobile-width: 1080px;
