.b-result {
  font-family: $font-default;
  font-size: $apx-30;
  line-height: $apx-40;
  font-weight: 700;
  text-align: left;
  color: $color-green-blue;
  text-transform: uppercase;
  @include mobile {
    font-size: $apx-m-30;
    line-height: $apx-m-30;
  }
}
.b-result__title {
  font-family: $font-title;
  font-size: $apx-137;
  line-height: 1.1;
  color: $color-black;
  @include mobile {
    margin-top: $apx-m-12;
    font-size: $apx-m-137;
    line-height: 1.1;
  }
}
.b-result__text {
  margin-top: $apx-3;
  @include mobile {
    margin-top: $apx-m-2;
  }
}
.b-result__field {
  position: relative;
  height: $apx-375;
  margin-top: $apx-65;
  background-image: $gradient-red;
  border-radius: $apx-27;
  @include ultra-wide {
    margin-top: $apx-40;
  }
  @include mobile {
    position: relative;
    width: $apx-m-756;
    height: $apx-m-558 * 2;
    margin-top: $apx-m-74;
    margin-right: auto;
    margin-left: auto;
    border-radius: $apx-m-38;
  }
}
.b-result__demo {
  width: $apx-1520;
  height: $apx-375;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    // width: $apx-m-274;
    // height: 100%;
    width: $apx-m-556 * 2;
    height: $apx-m-274;
    rotate: -90deg;
    translate: -50% -50%;
  }
}
.b-result__result {
  position: absolute;
  top: 68%;
  left: 50%;
  width: $apx-750;
  height: $apx-1500;
  translate: -50% -50%;
  transform: rotate(90deg);
  @include mobile {
    top: 50%;
    left: 54%;
    width: $apx-m-500;
    height: $apx-m-520 * 2;
    transform: rotate(0);
  }
}
.b-result__stick {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  translate: -50% -50%;
  object-fit: contain;
}
.b-result__pattern {
  position: absolute;
  top: $apx-20;
  left: 50%;
  width: 2.7%;
  object-fit: contain;
  translate: -60%;
}
.b-result__blade {
  position: absolute;
  bottom: $apx-20;
  left: 27.7%;
  width: 25%;
  object-fit: contain;
  @include mobile {
    bottom: $apx-m-32;
  }
}
.b-result__name {
  position: absolute;
  // bottom: $apx-348;
  bottom: 29.4%;
  left: 28.4%;
  z-index: 1;
  font-family: $font-default;
  font-size: $apx-21;
  line-height: 1;
  font-weight: 700;
  font-style: italic;
  text-align: left;
  color: $color-black;
  white-space: nowrap;
  transform-origin: left center;
  &.print {
    transform: translateY(-60%);
  }
  @include mobile {
    bottom: 28.2%;
    left: 53.7%;
    font-size: $apx-m-15;
    line-height: 1;
    transform: rotate(-90deg);
    &.print {
      transform: rotate(-90deg) translateY(-50%);
    }
  }
}
