.b-set {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
  padding: $apx-20;
  text-transform: uppercase;
  background-color: $color-gray-961;
  @include mobile {
    padding: $apx-m-132 0 $apx-m-159 0;
  }
}
.b-set__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: $apx-1618;
  height: $apx-950;
  margin: auto;
  &.fifth {
    display: block;
  }
  @include ultra-wide {
    height: $apx-840;
  }
  @include mobile {
    display: block;
    width: $apx-m-820;
    height: $apx-m-813 * 2;
  }
}
.b-set__left {
  padding-top: $apx-52;
  &.finish {
    display: none;
  }
  &:not(.fifth) {
    width: $apx-650;
  }
  @include mobile {
    display: flex;
    align-items: flex-end;
    gap: $apx-m-80;
    height: $apx-m-294;
    padding-top: 0;
    padding-left: $apx-m-46;
    &.second {
      width: $apx-m-680;
    }
    &:not(.fifth) {
      width: auto;
    }
  }
}
.b-set__step {
  margin-bottom: -#{$apx-28};
  font-family: $font-title;
  font-size: $apx-274;
  line-height: 1;
  font-weight: 700;
  color: $color-black;
  @include mobile {
    // margin-top: -#{$apx-m-40};
    margin-top: 0;
    margin-bottom: -#{$apx-m-84};
    font-size: $apx-m-275;
    line-height: 1.1;
  }
}
.b-set__wrp {
  // width: $apx-650;
  // @include mobile {
  //   width: auto;
  // }
}
.b-set__title {
  font-size: $apx-55;
  line-height: 1.1;
  font-weight: 700;
  @include mobile {
    margin-bottom: -#{$apx-m-9};
    font-size: $apx-m-60;
    line-height: 1.1;
  }
}
.b-set__color {
  margin-top: $apx-16;
  font-size: $apx-109;
  line-height: 1.1;
  font-weight: 700;
  color: $color-carmine-red;
  @include mobile {
    margin-top: 0;
    font-size: $apx-m-60;
    line-height: 1.1;
  }
}
.b-set__text {
  margin-top: $apx-8;
  font-family: $font-default;
  font-size: $apx-30;
  line-height: 1.1;
  font-weight: 700;
  text-align: left;
  color: $color-green-blue;
  text-transform: uppercase;
  mix-blend-mode: difference;
  filter: invert(100%);
  @include mobile {
    margin-top: $apx-m-6;
    font-size: $apx-m-30;
    line-height: 1.1;
  }
}
.b-set__name {
  margin-top: $apx-46;
  @include mobile {
    margin-top: 0;
  }
}
.b-set__spec {
  margin-top: $apx-46;
  @include mobile {
    margin-top: $apx-m-267;
  }
}
.b-set__window {
  margin-right: $apx-300;
  @include mobile {
    margin-top: $apx-m-35;
    margin-right: auto;
    margin-left: auto;
  }
}
.b-set__btn-prev {
  position: absolute;
  right: $apx-820;
  bottom: 0;
  animation-name: b-set-btn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  &.fifth {
    left: 0;
  }
  &.finish {
    left: 0;
  }
  @include mobile {
    right: auto;
    left: 0;
    width: $apx-m-230;
  }
}
.b-set__btn-next {
  position: absolute;
  right: 0;
  bottom: 0;
  &.finish {
    display: none;
  }
  @include mobile {
    width: $apx-m-230;
    // &.finish {
    //   width: max-content;
    // }
  }
}
.b-set__btn-save,
.b-set__btn-return {
  position: absolute;
  right: 0;
  bottom: 0;
  // &:not(.finish) {
  //   display: none;
  // }
}

@keyframes b-set-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
